<div id = 'artistBox'>
	<div id='searchBar'>
		<input type='text' name='search' class='search' id='Asearch' placeholder='Search for an artist' />
	</div>
	<div id='ArtistList'>
		<div id='Artistcontrols'>
			<i class="fa fa-backward"></i>
			<i class="control fa fa-play"></i>
			<i class="forward fa fa-forward"></i>
			<i class="refresh fa fa-exchange"></i>
			<i class="fa fa-thumbs-up"></i>
		</div>
		<div id='AritstInfo'>
			<p class='ArtistName'></p>
		</div>
	</div>
	<div id='upnextArtist'>
		<p class='AnextV'></p>
	</div>
</div>