<div id='leftzone'>
	
	<div class='leftContainer'>
		<div class='username'>
			<p class='userDetails'>NAVIGATION</p>
		</div>
		<div class='navingation'>
			<ul class='list'>
				<li class='songs'><i class="fa fa-music"></i> Songs</li>
				<li class='artist'><i class="fa fa-user"></i> Artists</li>
				<li class='queue'><i class="fa fa-th-large"></i> Queue</li>
				<li class='video'><i class="fa fa-youtube-play"></i> Video</li>
				<li class='define'><i class="fa fa-book"></i> Define</li>
				<li class='lookup'><i class="fa fa-question-circle"></i> Lookup</li>
			</ul>
		</div>
	</div>
</div>