<div id = 'queueBox'>
	<div id='searchBar'>
		<input type='text' name='search' class='search' id='Qsearch' placeholder='Search for a song' />
	</div>
	<div id='QueueList'>
		<div id='QueueControls'>
			<i class="fa fa-backward"></i>
			<i class="control fa fa-play"></i>
			<i class="forward fa fa-forward"></i>
			<i class="refresh fa fa-exchange"></i>
			<i class="fa fa-thumbs-up"></i>
		</div>
		<div id='QueueInfo'>
			<p class='QueueName'></p>
		</div>
	</div>
	<div id='upnextQueue'>
		<p class='QnextV'></p>
	</div>
</div>