<div id = 'soundBox'>
	<div id='searchBar'>
		<input type='text' name='search' class='search' id='search' placeholder='Search for a song' />
	</div>
	<div id='trackList'>
		<div id='controls'>
			<i class="fa fa-backward"></i>
			<i class="control fa fa-play"></i>
			<i class="forward fa fa-forward"></i>
			<i class="refresh fa fa-exchange"></i>
			<i class="fa fa-thumbs-up"></i>
		</div>
		<div id='trackInfo'>
			<p class='songName'></p>
		</div>
	</div>
	<div id='upnextSong'>
		<p class='nextV'></p>
	</div>
</div>