<div id='tips'>
	<span class='message'>what you can do:</span>
	<ul class='tipList'>
		<li class='tips'>play a specific song <br><span class='example'>eg: song washed out feel it all around</span></li>
		<li class='tips'>play top songs by an artist <br><span class='example'>eg: artist incubus</span></li>
		<li class='tips'>play a specific video <br><span class='example'>eg: video skrillex bangarang</span></li>
		<li class='tips'>cycle through different versions of the same song <br><span class='example'>eg: by clicking on <i class="fa fa-exchange"></i></span></li>
		<li class='tips'>enable/disable the video and only listen to audio <br><span class='example'>eg: by clicking on <i class="fa fa-dot-circle-o"></i></span></li>
	</ul>
</div>