@import "/bower_components/bootstrap/less/bootstrap.less";
@grid-columns:              24;
@grid-gutter-width:         15px;
@icon-font-path: '/bower_components/bootstrap/fonts/';
@import "pagedown.less";
@import "textarea.less";
@import "variables.less";
@import "elements.less";
@import "columns.less";
@import "buttons.less";
@import "images.less";
@import "error.less";
@import "collections.less";
@import "../font/Serif/cmun-serif.less";


body{
	background-color: @white;
	font-size: 12px;
	font-family: "Computer Modern Serif";
	-webkit-font-smoothing: antialiased;
}
header{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: -5px;
}
.contentzone{
	min-width: 1276px;
}
.container{
	margin-bottom: 8px;
}
#center{
	overflow-y: scroll;
	overflow-x: hidden;
	background: #fff;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	//background: rgba(255,255,255,0.4);
}
h1{
	padding-left: 11px;
}
.yellow{
	color: @yellow !important;
}
::-webkit-scrollbar { 
    display: none; 
}
// ::-webkit-scrollbar { 
//     display: block; 
// }