@import "/bower_components/bootstrap/less/bootstrap.less";
@grid-columns:              24;
@grid-gutter-width:         15px;
@icon-font-path: '/bower_components/bootstrap/fonts/';
@import "variables.less";
@import "base-elements.less";
@import "icons.less";
@import "buttons.less";
@import "animations.less";
@import "textarea.less";
@import "../font/Serif/cmun-serif.less";


body{
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	color: #333332;
	font-size: 18px;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
html, body{
	height: 100%;
	width: 100%;
}
#leftnav{
	left: 0;
}
.container{
	width: 100%;
}
// i{
// 	color: @white;
// }

h4{
	color: @purple;
	font-size: 24px;
	text-align: center;
}
.hidden{
	display: none;
	visibility: hidden;
}
.left{
	left: 20.8333336%;
}
.fixed{
	position: fixed;
}

//links
a{
	color: @orange;
}
a:hover{
	color: lighten(@orange, 10%);
}
a:focus{
	color: lighten(@orange, 10%);
}