.btn{
	
}
.btn-default{
	color: @gray2;
	background-color: transparent;
	border: none;
}
.btn-primary{
	border: 1px solid @blue;
	border-radius: 0px;
	background: transparent;
	color: @blue;
}
.btn-success{
	border: 1px solid @green;
	border-radius: 0px;
	background: transparent;
	color: @green;
}
.btn-danger{
	border: 1px solid @red;
	border-radius: 0px;
	background: transparent;
	color: @red;
}
.btn-default:hover{
	color: @white;
	background-color: @gray2;
	box-shadow: 1px 2px 1px darken(@gray2, 10%);
	border: 0px;
}
.btn-primary:hover{
	background: @blue;
	color: @white;
}
.btn-success:hover{
	background: @green;
	color: @white;
}
.btn-danger:hover{
	background: @red;
	color: @white;
}
.btn-facebook{
	border: 1px solid @facebook;
	border-radius: 0px;
	background: transparent;
	color: @facebook;
}
.btn-facebook:hover{
	background: @facebook;
	color: @white;
}
.btn-facebook:focus, .btn-facebook:active{
	background-color: @facebook;
	color: @white;
	outline: 0;
}
.btn-primary:focus, .btn-primary:active{
	background-color: @blue;
	color: @white;
	outline: 0;
}
.btn-success:focus, .btn-success:active{
	background-color: @green;
	color: @white;
	outline: 0;
}
.btn{
	display: block;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.btn-picture{
	margin-right: auto;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	font-size: 64px;
	outline: none;
	height: inherit;
	border: none;
}
.btn-picture:active{
	outline: none;
	box-shadow: 0px;
	-webkit-box-shadow: 0px;
}
.btn-picture:focus{
	outline: none;
	box-shadow: 0px;
	-webkit-box-shadow: 0px;
}
.btn-collection{
	margin-right: auto;
	margin-left: auto;
}
.btn-set{
	margin-right: 8px;
	vertical-align: middle;
}
.btn-light{
	border-color: rgba(255,255,255,0.5);
	background: rgba(0,0,0,0);
}