.btn-default{
	background: @black;
	border: 1px solid darken(@black, 10%)
}
.btn-default:hover{
	background: lighten(@black, 10%);
	border: 1px solid darken(@black, 10%)
}
.btn-default:active{
	background: @black;
	border: 1px solid darken(@black, 10%)
}
.btn-default:focus{
	background: @black;
	border: 1px solid darken(@black, 10%)
}
.btn-menu{
	padding: 6px 20.5px;
}
.btn-settings{
	padding: 4px 8px 1px;
}
.btn-tools{
	background-color: transparent;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	i{
		color: @orange;
	}
}
.btn-tools:hover{
	background-color: @white !important;
	border: none;
	border-bottom: 1px solid @orange;
	i{
		color: lighten(@orange, 10%);
	}
}
.btn-tools:active{
	background-color: @white !important;
	border: none;
	border-bottom: 1px solid @orange;
	box-shadow: none;
	outline: none !important;
	i{
		color: lighten(@orange, 10%);
	}
}
.btn-tools.active{
	background-color: @white !important;
	border: none !important;
	border-bottom: 1px solid @orange !important;
	box-shadow: none !important;
	outline: none !important;
	i{
		color: lighten(@orange, 10%);
	}
}
.btn-tools:focus{
	background-color: @white !important;
	color: lighten(@orange, 10%);
	border: none;
	outline: none !important;
	i{
		color: lighten(@orange, 10%);
	}
}
.btn-success{
	margin-top: 5px;
	margin-right: 10px;
	background: @black;
	color: @orange;
	padding: 5px 25px;
	border-radius: 1px;
	border-width: 0px;
	border: 1px solid @black;
}
.btn-success:hover{
	background: @orange;
	color: @black;
	border: 1px solid @orange;
}
.btn-success:focus{
	background: @orange;
	color: @black;
	border: 1px solid @orange;
	outline: none !important;
}
.btn-success:active{
	box-shadow: none;
}

.btn-follow{
	background-color: lighten(@black, 10%)
}