.main-heading{
	margin-top: 150px;
	font-size: 200px;
}
.profile-name{
	text-align: center;
}
span.internal{
	text-decoration: underline;
}


.img-target{
	background-position: center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}
.title-header{
	position: absolute;
	margin-top: 100px;
}
.btn-set{
	margin: 10px;
	line-height: 44px;
	display: inline-block;
	white-space: nowrap;
}
.bucket {
	padding-bottom: 80px;
}
.bucket-label{
	text-align: left;
	border-top: 1px solid #dededc;
	padding: 20px 0;

}
.bucket-label, .bucket-label>a{
	color: #b3b3b1;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 11px;
	letter-spacing: .2em;
	text-transform: uppercase;
}
.cover-picker-controls{
	height: 100px;
	position: relative;
	text-align: center;
	margin-bottom: 7%;
}
.hero-collection-settings .cover-picker-controls {
	margin-top: -100px;
}
.post-wrap{
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	right: 0;
}
.right{
	right: 18%;
}

.post-wrap{
	display: block;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.post-preview{
	display: block;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}