.post-header{
	color: #333332;
}
.editable{
	font-family: "Computer Modern Serif",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
	font-size: 22px;
	outline: 0;
	text-align: justify;
}
.post-title[data-placeholder]{
	text-align: center;
}
.post-title, .collection-title{
	font-family: "Computer Modern Serif","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.04em;
	font-size: 50px;
	line-height: 1.1;
	margin-bottom: 8px;
	outline: none;
	text-align: center;
}
.post-subtitle, .collection-subtitle{
	font-family: "Computer Modern Serif","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	line-height: 1.1;
	color: #666665;
	margin: 0;
	outline: none;
	text-align: justify;
}
pre{
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 16px;
	background: rgba(0,0,0,0.05);
	margin-bottom: 20px;
	padding: 20px;
	border: 0px;
}
textarea{
	resize: none;
	background: transparent;
}
.input-text{
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 10px 17px;
	outline: 0;
	border: none;
	text-align: center;
	width: 100%;
}
.input-image{
	width: 420px;
	font-size: 18px;
}
.input-group{
	width: 100%;
}
.input-text-rounded{
	-webkit-border-radius: 999em;
	-moz-border-radius: 999em;
	border-radius: 999em;
	border: 1px solid #dededc;
	text-align: left;
}