.editable{
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
	font-size: 22px;
	outline: 0;
}
pre{
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 16px;
	background: rgba(0,0,0,0.05);
	margin-bottom: 20px;
	padding: 20px;
}