<div class='bg-img' data-img-url="<%= image %>">
	<div class='img-target' style='background-image: url("<%= image %>")'></div>
</div>
<div class="metabar metabar-top col-xs-24">
	<div class="metabar-block pull-left">
		<div class="metabar-text">
			<span class="collection-editor-label">Collection edited</span> by 
			<a href="/<%=user.id%>"><%=user.name %></a>
		</div>
	</div>
	<div class="metabar-block pull-right col-xs-10">
	</div>
</div>
<header class='title-header col-xs-18'>
	<div class='col-xs-24 base-block'>
		<div class='header col-xs-23'>
			<h1 class=""><%= name %></h1>
			<p class=""><%= description %></p>
		</div>
	</div>
	<div class="btn-set">
		<%=button%>
	</div>
</header>
