<div class='screen-content surface-content'>
	<div class="metabar metabar-top ">
		<div class="metabar-block pull-right">
			<div class="btn-set">
				<a href="/rte/create" class="btn btn-primary">New collection</a>
			</div>
		</div>
	</div>
	<header class="hero hero-standalone layout-single-column">
		<h1 class="hero-title">Collections</h1>
		<p class="hero-description">Stories grouped by theme or topic</p>
		<div class="hero-actions">
			<div class="input-group">
				<i class="icons icons-search"></i>
				<input id="collection-search" type="search" class="input-text input-text-rounded" placeholder="Search">
			</div>
		</div>
	</header>
	<div class='bucket layout-single-column'>
		<h2 class="bucket-label">Collections you follow</h2>
		<ul class='collection-bucket nav' id='collection-list'></ul>
	</div>
</div>
