<div class='bg-img'>
	<div class='img-target' style='background-color:#191918;'></div>
</div>
<div class='col-xs-18 container'>
	<button class='btn btn-picture'><i class="fa fa-picture-o"></i></button>
	<input type='text' class='hidden input-text input-image' name='collection-image' id='collection-image' placeholder='Enter url' disabled='true'>
	<textarea class='collection-title input-text col-xs-18' id='collection-name' maxlength="80" placeholder='Name your collection'></textarea>
	<textarea class='collection-subtitle input-text col-xs-16' id='collection-description' maxlength="120" placeholder='Describe your collection'></textarea>
	<br>
	<button id='create-collection' class='btn btn-primary btn-collection'>Create Collection</button>
</div>