<div class='col-xs-24'>
	<header class="post-header notes-header-source">
		<h1 class="post-title title" role="textbox" contenteditable="true" data-length="0" data-max-length="100"></h1>
		<h2 class="post-subtitle subtitle" contenteditable="true" data-default-value="Subtitle"></h2>
	</header>
	<div class='editable preview' id="marked-mathjax-input"
	name="comment"
	"autofocus">

</div>

<!-- <div class="hint">Use 
  <a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics">$\LaTeX$</a>
  to type formulæ 
  and <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a> to format text.
</div> -->
</div>
<!-- <div class='col-xs-12'>
  <div class="preview" id="marked-mathjax-preview"></div>
  <div class="preview" id="marked-mathjax-preview-buffer" style="display:none;position:absolute;top:0; left: 0"></div>
</div> -->
