<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>blazeNew.fm</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="/blaze/img/blaze_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet/less" type="text/css" href="/blaze/css/less/helix.less" />
	<script src="/blaze/js/lib/less.js" type="text/javascript"></script>
	<script type="text/javascript">	less = { env: "development" }; </script>
	<script src="http://connect.soundcloud.com/sdk.js"></script>

</head>
<body>
	<div class="container contentzone">
		<div id='header_zone'></div>
		<div id="center_column"></div>
		<div id='leftmenuContainer'></div>
		<footer>
			<div id='footer'>
				<div id='queueButton'>Queue</div> 
				<i class="fa fa-fast-backward"></i>
				<i class="forward fa fa-fast-forward"></i>
				<audio id="audio-test" autoplay="autoplay"controls='controls'></audio>
				<i class="fa fa-heart"></i>
				<p id='trackInfo'></p>
			</div>
			<div id='queue'></div>
		</footer>
	</div>
	<div id="popup"></div>
	<div id="blackout"></div>
	<script type="text/javascript">
	var song = {};
	var artist = {};
	var versions = new Array();
	var songsQueue = new Array();
	var masterQueue = new Array();
	var query;
	var endpoint = '/pX';
	var require = {
		waitSeconds: 0,
		urlArgs : "bust="+new Date().getTime()
	};
	</script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-45757818-1', 'blaze.fm');
	ga('send', 'pageview');

	</script>
	<script data-main="/blaze/js/main" src="/blaze/js/lib/require.js"></script>
</body>
</html>