<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Error</title>

    <link rel="shortcut icon" href="/network/img/favicon.png" type="image/x-icon" />

</head>
<body>
    <div class="headervoice"></div>
    <header id="header"></header>
    <div class="container" id="searchzone"></div>
    <div class="container contentzone">
        <br><br>
        <h1 style="color: white; text-align: center">Error</h1>
        <p  style="color: white; text-align: center"><%= error %>   <br><br>
            <a href="/" style="color: white;">Continue</a>
        </p>

    </div>
</body>
</html>