@import "/bower_components/bootstrap/less/bootstrap.less";
@grid-columns:              24;
@grid-gutter-width:         15px;
@icon-font-path: '/bower_components/bootstrap/fonts/';
@import "variables.less";
@import "header.less";
@import "navigation.less";
@import "autocomplete.less";
@import "leftmenu.less";
@import "queue.less";
@import "empty.less";
@import "tables.less";
@import "buttons.less";
@import "non-responsive.less";
@import "left.less";


body{
	background-color: @white;
	font-size: 12px;
}
.contentzone{
	min-width: 1276px;
}
.container{
	max-width: 1040px;
	max-height: 530px;
	overflow: hidden;
}
#center{
	max-height: 500px;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	//background: rgba(255,255,255,0.4);
}
.red{
	color: @red !important;
}
::-webkit-scrollbar { 
    display: none; 
}
// ::-webkit-scrollbar { 
//     display: block; 
// }