@import "/bower_components/bootstrap/less/bootstrap.less";
@grid-columns:              24;
@grid-gutter-width:         15px;
@icon-font-path: '/bower_components/bootstrap/fonts/';
@import "variables.less";
@import "header.less";
@import "navigation.less";
@import "autocomplete.less";
@import "leftmenu.less";
@import "queue.less";
@import "empty.less";
@import "tables.less";
@import "buttons.less";
@import "non-responsive.less";
@import "left.less";


body{
	background-color: #e9eaed;
	font-size: 12px;
}
.contentzone{
	min-width: 1276px;
}
.container{
	max-width: 1040px;
	max-height: 530px;
	overflow: hidden;
	margin-bottom: 20px;
}
#center{
	max-height: 533px;
	height: 532px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #fff;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	//background: rgba(255,255,255,0.4);
}
h1{
	padding-left: 11px;
}
.yellow{
	color: @yellow !important;
}
::-webkit-scrollbar { 
    display: none; 
}
// ::-webkit-scrollbar { 
//     display: block; 
// }