header{
	.navbar{
		margin-bottom: 10px;
		min-height: 38px;
		border-radius: 0px;
	}
	.navbar-default{
		background-color: transparent;
		border-color: transparent;
	}
	.navbar-header>.navbar-brand{
		height: 38px;
		padding-top: 10px;
		padding-bottom: 10px;
		color: @white;
		font-weight: bold;
	}
	.navbar-header>.navbar-brand:hover{
		color: @white;
		background-color: darken(@blue, 10%)
	}
	.navbar-nav > li > a{
		padding-top: 10px;
		padding-bottom: 10px;
		color: @white !important;
	}
	.navbar-nav > li > a > span{
		color: darken(@blue, 15%);
		margin-right: 5px;
	}
	.navbar-nav > li > a:hover{
		color: @white;
		background-color: darken(@blue, 10%)
	}
	.navbar-default .navbar-nav>.dropdown-toggle{
		padding-right: 9px;
	}
	.navbar-default .navbar-nav > li > .dropdown-toggle{
		padding-right: 9px;
	}
	.navbar-default .navbar-nav>.open > a{
		background-color: @white !important;
		padding-right: 9px;
	}
	.navbar-default .navbar-nav>.open > a:hover{
		background-color: @white !important;
		padding-right: 9px;
	}
	.navbar-nav > li > .dropdown-menu{
		border-top-left-radius: 2px !important;
		top: 93%;
		border-top: none;
	}
	.container{
		max-width: 940px;
	}
	.audio-holder{
		position: relative;
		top: 2px;
		width: 100% !important;
	}
	.collapse{
		width: 40%;
		margin-left: auto !important;
		margin-right: auto !important;
		vertical-align: middle;
	}
	#searchBar{
		width: 96%;
		padding: 6px 8px;
		outline: none;
		border: none;
		border-radius: 3px;
		font: 20px/15px "ars-maquette-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #60f;
		height: 40px;
		background: #fff;
		border: 1px solid #60f;
	}
	.clicked{
		background: #60f !important;
		-moz-border-radius: 10px !important;
		border-radius: 10px !important;
		-webkit-border-radius: 10px !important;
		color: #fff !important;
		font-size: 12px !important;
		::-webkit-input-placeholder {
			color: @white;
		}

		:-moz-placeholder { /* Firefox 18- */
			color: @white;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
			color: @white;  
		}

		:-ms-input-placeholder {  
			color: @white;  
		}
		i{
			display: block;
			color: @white;
		}
	}
	#searchBar{
		display: block;
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
	background: transparent;

}
.container-fluid{
	padding: 7.5px;
}
#search{
	width: 50%;
	position: relative;
	float: left;
}
