.navbar{

	.audio-holder{
		margin-left: 40px;
	}
	#audio-test{
		width: 100%;
		position: relative;
		top: 8px;
	}
	#search{
		position: relative;
		top: 10px;
		width: 100%;

		#searchBar{
			width: 89%;
			border-radius: 10px;
			border: 1px solid;
			text-indent: 20px;
			outline: none;
		}
		i{
			left: 23px;
			position: relative;
		}
		#autobox{
			position: absolute;
			top: 34px;
			left: 35px;
			width: 80%;
		}
	}
	.navbar-right{
		width: 25%;
		li{
			width: 100%;

			
		}
	}
}