.contentzone{


	#left{
		border: 1px solid;
		position: absolute;
		top: 52px;
		height: 92.4%;
		min-width: 213px;
		#current_song{
			position: absolute;
			bottom: 0;
		}
		.thumbnail{
			margin-bottom: 0;
		}
		img{
			width: 201px;
		}
	}
	#wrap{
		position: absolute;
		left: 213px;
		margin-top: -20px;
		height: 92%;
	}
	#footer{
		position: absolute;
		bottom: 0;
		border: 1px solid;
		width: 100%;
	}
}