	<div id='trackbox'>
		<p class='title'><i class="fa fa-music"></i> Tracks</p>
		<%_.each(data.tracks, function(item, i){ %>
		<div class='tracks' >
			<img class='trackpic' src='<%=item.image %>'>
			<p id='<%=item.id%>' class='trackname'><%= item.title %></p>
			<i data-source='soundcloud'data-name='<%= item.title %>' data-id='<%=item.id%>' data-src ='<%=item.image %>' id='left-<%=item.id%>' data-current='song' class="leftmenu fa fa-chevron-circle-right"></i>
		</div>
		<%})%>
	</div>
	<div id='artistbox'>
		<p class='title artist'><i class="fa fa-user"></i> Artists</p>
		<%_.each(data.artist, function(item, i){ %>
		<div class='tracks' >
			<img class='trackpic' src='<%=item.pic %>'>
			<p id='<%=item.id%>' class='artists trackname'><%= item.name %></p>
		</div>
		<%})%>
	</div>