<div>
	<h4>NAVIGATION</h4>
	<ul class="nav nav-pills nav-stacked center-block">
		<li class="active"><a href="#">Songs</a></li>
		<li><a href="#">Artist</a></li>
		<li><a href="#">Favorites</a></li>
		<li><a href="#">History</a></li>
	</ul>
	<div id='current_song'>
		<div class="row">
			<div class="">
				<div class="thumbnail">
					<img src='<%=src%>' data-src="holder.js/300x500" alt="...">
					<div class="caption">
						<p><%=name%></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>