<td>
	<div class='media pull-left'>
		<a class='pull-left' href="#">
			<img class='media-object img-rounded'src="<%=src%>">
		</a>
		<div class='media-body pull-left'>
			<p id="<%=id%> " class='media-heading'><%=name %></p>
		</div>
	</div>
</td>
<td>
	<i data-liked='<%= liked %>' data-source='soundcloud'data-name='<%= name %>' data-id='<%=id%>' data-src ='<%=src %>' id='left-<%=id%>' class="leftmenu fa fa-chevron-circle-right"></i>
</td>
<td>
	<%=source %>
</td>
<td>
	<button id="<%=id%>" class='btn btn-danger'>&times;</button>
</td>



