<% console.log(data) %>
<div class='back'>
	<% if(typeof data == 'string'){ %>
	<%= data %>
	<% } else { %>
	<div class='songBox'>
		<p class='title'>Top Songs</p>
		<% _.each(data, function(item,i){ %>
		<div class='listItem'>
			<% if(!item.pic){ item.pic = "blaze/img/album_artwork.gif"} %>
			<img src="<%= item.pic %>">
			<p id= "<%= i %>" class='topsong'><a><%= item.name %></a></p>
			<i data-source='lastfm' data-name='<%= item.name %>' data-artist='<%=item.artist.name%>' data-src ='<%=item.pic %>' id='left-<%=item.mbid%>' data-id="<%=item.mbid%>"class="leftmenu fa fa-chevron-circle-right"></i>
		</div>	
		<% }) %>
		<% }%>
	</div>
</div>